@{
    ViewData["Title"] = "Education";
}

<h1>Education</h1>

<ul>
    <li>B.Sc. in CSE</li>
    <ul>
        <li>Institute: American International Univeristy-Bangladesh</li>
        <li>Semester: 10</li>
        <li>CGPA: 3.69</li>
    </ul>

    <li>H.S.C</li>
    <ul>
        <li>Institute: Notre Dame College</li>
        <li>GPA:5.00 </li>
        <li>Year: 2015</li>
        <li>Group: Science</li>
    </ul>

    <li>S.S.C</li>
    <ul>
        <li>Institute: Ideal School & College</li>
        <li>GPA:5.00 </li>
        <li>Year: 2013</li>
        <li>Group: Science</li>
    </ul>
</ul>