
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<ul>
    <li>Object Oriented Programming 2</li>
    <ul>
        <li>Courier Management System</li>
        <p>A business software that simplifies courier management and routing.</p>
    </ul>

    <li>Web Technologies</li>
    <ul>
        <li>Online Clothing store</li>
        <p>
            The user can purchase any product shown on the website and to purchase the product customer should register the
            account and log in the account.
        </p>
    </ul>
</ul>
