
@{
    ViewData["Title"] = "References";
}

<h1>References</h1>

<ul>
    <li>Tanvir Ahmed</li>
    <ul>
        <li>Lecturer</li>
        <li>Email: tanvir.ahmed@aiub.edu</li>
    </ul>

    <li>Mehedi Hasan Onik</li>
    <ul>
        <li>Lecturer</li>
        <li>Email: mehedi.onik@aiub.edu</li>
    </ul>
</ul>